<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table3</title>
<link rel="stylesheet" href="/CSS/table3.css"></head>
<body>
    <h1><b>Table #05</b></h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th class="heading2">Email</th>
                <th>UserName</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <!-- <div class="checkbox"> -->
                        <input type="checkbox" style="text-align:center;">
                    <!-- </div> -->
                </td>
                <td class="heading2">
                    <div class="row">
                        <div class="col1">
                            <img src="IMAGES/r1.webp" > 
                        </div>
                        <div class="col2">
                            <p>fagashg@gmail.com </p>
                            <p1>Added 01/03/2020</p>
                        </div>
                    </div>
                    
                </td>   
                <td>Fathima</td>
                <td>
                    <button class="button">
                        <div class="circle"></div>     
                        Active</button>
                </td>
                <td
                    class="close-mark" onclick="closeRow(this)">✖
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer">
                </td>
                <td>
                    <div class="row">
                        <div class="col1">
                            <img src="IMAGES/r2.webp"> 
                        </div>
                        <div class="col2">
                            <p>jhewdgh@gmail.com </p>
                            <p1>Added 01/03/2020</p>

                        </div>
                    </div>
                    
                </td>
                <td>Mahmood</td>
                <td>
                    <button class="button wait" style="background-color: rgb(226, 193, 131);" >
                        <div class="circle waiting"></div>     
                        Waiting for reassignment</button>
                </td>
                <td
                    class="close-mark" onclick="closeRow(this)">✖
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox"></div>
                         <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer">
                </td>
                <td>
                    <div class="row">
                        <div class="col1">
                            <img src="IMAGES/r3.webp"> 
                        </div>
                        <div class="col2">
                            <p>jhediyhif@gmail.com </p>
                            <p1>Added 01/03/2020</p>

                        </div>
                    </div>
                    
                </td>
                <td>Shihabul</td>
                <td>
                    <button class="button">
                        <div class="circle"></div>     
                        Active</button>
                </td>
                <td
                     class="close-mark" onclick="closeRow(this)">✖
                </td>
            </tr>
            <tr>
                <td>    
                    <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer">
                </td>
                <td>
                    <div class="row">
                        <div class="col1">
                            <img src="IMAGES/r4.webp"> 
                        </div>
                        <div class="col2">
                            <p>ljiedbje@gmail.com </p>
                            <p1>Added 01/03/2020</p>

                        </div>
                    </div>
                    
                </td>
                <td>Ahamed</td>
                <td>
                    <button class="button">
                        <div class="circle"></div>     
                        Active</button>
                </td>
                <td>
                    <div class="close-mark">
                        ✖
                    </div>
                </td>
            </tr>
        </tbody>
        
    </table>
</body>
</html>
